<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" media="all" href="~/Content/Style.css" />
    <link rel="icon" href="@Model.Cloudinary.Api.UrlImgUp.Action("fetch").Transform(new CloudinaryDotNet.Transformation().Effect("sepia")).BuildUrl("http://cloudinary.com/favicon.png")" />
</head>
<body>
    <div id="logo">
        <!-- This will render the image fetched from a remote HTTP URL using Cloudinary -->
        @Html.Raw(Model.Cloudinary.Api.UrlImgUp.Signed(true).Secure(true).Action("fetch").BuildImageTag("http://cloudinary.com/images/logo.png"))
    </div>

    <div id="posterframe">
        <!-- This will render the fetched Facebook profile picture using Cloudinary according to the
             requested transformations -->
        @Html.Raw(Model.Cloudinary.Api.UrlImgUp.Action("facebook").Format("png")
    .Transform(new CloudinaryDotNet.Transformation()
    .Width(95)
    .Height(95)
    .Crop("thumb")
    .Gravity("face")
    .Effect("sepia")
    .Radius(20)
    .Chain() // apply current stack of transformations before processing next
    .Angle(10))
    .BuildImageTag("officialchucknorrispage"))
    </div>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
