@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    <link rel="icon" href="@Model.CloudinaryApi.Url.ResourceType("image").Action("fetch").BuildUrl("http://cloudinary.com/favicon.png")" />
}

@foreach (basic_mvc4.Image img in @Model.Images)
{   
    <div class="item">
        <div class="caption">@img.Caption</div>
        <a href="@img.Url" target="_blank">@Html.Raw(
        Model.CloudinaryApi.UrlImgUp.Format(img.Format).Transform(img.ShowTransform).BuildImageTag(img.PublicId))
        </a>
        <div class="public_id">@img.PublicId</div>
        <div class="link">
            <a href="@Model.CloudinaryApi.UrlImgUp.Format(img.Format).Transform(img.ShowTransform).BuildUrl(img.PublicId)" target="_blank">
                @Model.CloudinaryApi.UrlImgUp.Format(img.Format).Transform(img.ShowTransform).BuildUrl(img.PublicId)
            </a>
        </div>
    </div>
}